################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReadingLightNovelApplication/ReadingLightNovelApplication/LayoutLogged.Designer.cs
